<a href="https://colab.research.google.com/github/tsaabitasabita/contoh1/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/sample_data.csv")
print(df)

   ID     Nama  Usia      Kota  Pendapatan
0   1     Ciko    25   Jakarta     5000000
1   2     Dani    30   Bandung     7000000
2   3    Pikri    35  Surabaya     8000000
3   4   Yulius    40     Medan     6000000
4   5    Jakka    45      Bali     7500000
5   6     Tian    25   Jakarta     5000000
6   7     Deni    30   Bandung     7000000
7   8     Dane    35  Surabaya     8000000
8   9  Galpeen    40     Medan     6000000
9  10  Qomarul    45      Bali     7500000

In [ ]:
df.head()

   ID    Nama  Usia      Kota  Pendapatan
0   1    Ciko    25   Jakarta     5000000
1   2    Dani    30   Bandung     7000000
2   3   Pikri    35  Surabaya     8000000
3   4  Yulius    40     Medan     6000000
4   5   Jakka    45      Bali     7500000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10 non-null     int64
 1   Nama        10 non-null     object
 2   Usia        10 non-null     int64
 3   Kota        10 non-null     object
 4   Pendapatan  10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes

In [ ]:
df.tail()

   ID     Nama  Usia      Kota  Pendapatan
5   6     Tian    25   Jakarta     5000000
6   7     Deni    30   Bandung     7000000
7   8     Dane    35  Surabaya     8000000
8   9  Galpeen    40     Medan     6000000
9  10  Qomarul    45      Bali     7500000

In [ ]:
df.shape

(10, 5)

In [ ]:
df.dtypes

ID             int64
Nama          object
Usia           int64
Kota          object
Pendapatan     int64
dtype: object

In [ ]:
df.describe()

             ID      Usia    Pendapatan
count  10.00000  10.00000  1.000000e+01
mean    5.50000  35.00000  6.700000e+06
std     3.02765   7.45356  1.135292e+06
min     1.00000  25.00000  5.000000e+06
25%     3.25000  30.00000  6.000000e+06
50%     5.50000  35.00000  7.000000e+06
75%     7.75000  40.00000  7.500000e+06
max    10.00000  45.00000  8.000000e+06

In [ ]:
kolom_tertentu = "Kota"
if kolom_tertentu in df.columns:
    print(f"\nMenghitung jumlah kemunculan nilai unik dalam kolom '{kolom_tertentu}' dengan df['{kolom_tertentu}'].value_counts():")
    print(df[kolom_tertentu].value_counts())
else:
    print(f"\nKolom '{kolom_tertentu}' tidak ditemukan dalam dataset.")

Menghitung jumlah kemunculan nilai unik dalam kolom 'Kota' dengan df['Kota'].value_counts():
Kota
Jakarta     2
Bandung     2
Surabaya    2
Medan       2
Bali        2
Name: count, dtype: int64

In [ ]:
print("\nMenghitung rata-rata dengan df.mean():")
print(df.mean(numeric_only=True))

Menghitung rata-rata dengan df.mean():
ID                  5.5
Usia               35.0
Pendapatan    6700000.0
dtype: float64

# Studi Kasus

In [ ]:
df2 = pd.read_json("/content/drive/MyDrive/data_pelanggan.json")
print(df2)

   ID_Pelanggan    Nama  Usia Jenis_Kelamin  Pendapatan_Tahunan Status_Kredit
0             1   Darel    42     Laki-laki            77451840     Disetujui
1             2  Yulius    54     Laki-laki           115586083       Ditolak
2             3    Ciko    47     Perempuan           144388991     Disetujui
3             4    Dani    32     Perempuan           135942323       Ditolak
4             5    Ican    20     Laki-laki            87093352     Disetujui
5             6   pikri    46     Laki-laki            49125538     Disetujui
6             7    Cesa    25     Perempuan            67719626       Ditolak
7             8    Dapa    39     Laki-laki            38738441     Disetujui
8             9   Indra    33     Laki-laki           111031782       Ditolak
9            10    Joko    39     Perempuan            46428114     Disetujui

In [ ]:
print("\nMenampilkan tipe data setiap kolom dengan df2.dtypes:")
df2.dtypes

Menampilkan tipe data setiap kolom dengan df2.dtypes:

ID_Pelanggan           int64
Nama                  object
Usia                   int64
Jenis_Kelamin         object
Pendapatan_Tahunan     int64
Status_Kredit         object
dtype: object

In [ ]:
print("\nMenampilkan jumlah baris dan kolom dengan df2.shape:")
df2.shape

Menampilkan jumlah baris dan kolom dengan df2.shape:

(10, 6)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Pelanggan        10 non-null     int64
 1   Nama                10 non-null     object
 2   Usia                10 non-null     int64
 3   Jenis_Kelamin       10 non-null     object
 4   Pendapatan_Tahunan  10 non-null     int64
 5   Status_Kredit       10 non-null     object
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes

In [ ]:
kolom_tertentu = "Jenis_Kelamin"
if kolom_tertentu in df2.columns:
    print(f"\nMenghitung jumlah kemunculan nilai unik dalam kolom '{kolom_tertentu}' dengan df2['{kolom_tertentu}'].value_counts():")
    print(df2[kolom_tertentu].value_counts())
else:
    print(f"\nKolom '{kolom_tertentu}' tidak ditemukan dalam dataset.")

Menghitung jumlah kemunculan nilai unik dalam kolom 'Jenis_Kelamin' dengan df2['Jenis_Kelamin'].value_counts():
Jenis_Kelamin
Laki-laki    6
Perempuan    4
Name: count, dtype: int64

In [ ]:
print("\nMenghitung korelasi antar kolom numerik dengan df2.corr():")
print(df.corr(numeric_only=True))

Menghitung korelasi antar kolom numerik dengan df2.corr():
                  ID      Usia  Pendapatan
ID          1.000000  0.492366    0.258603
Usia        0.492366  1.000000    0.525226
Pendapatan  0.258603  0.525226    1.000000

In [ ]:
print("Jika ingin menampilkan Beberapa Row Data:\n", df.head(10))

Jika ingin menampilkan Beberapa Row Data:
    ID     Nama  Usia      Kota  Pendapatan
0   1     Ciko    25   Jakarta     5000000
1   2     Dani    30   Bandung     7000000
2   3    Pikri    35  Surabaya     8000000
3   4   Yulius    40     Medan     6000000
4   5    Jakka    45      Bali     7500000
5   6     Tian    25   Jakarta     5000000
6   7     Deni    30   Bandung     7000000
7   8     Dane    35  Surabaya     8000000
8   9  Galpeen    40     Medan     6000000
9  10  Qomarul    45      Bali     7500000

In [ ]:
output_path = "/content/drive/MyDrive/data_pelanggan.xlsx"
df2.to_excel(output_path, index=False)